{% extends '@EasyAdmin/default/edit.html.twig' %}

{% block main %}
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque molestias cum aliquam suscipit velit consectetur magnam blanditiis ad ullam laudantium totam cupiditate labore ratione, dignissimos esse recusandae iusto quod nesciunt!

    {% block entity_form %}
        {{ form_start(form) }}
        <div class="row">
            <div class="col-sm-4">
                {{ form_row(form.name) }}
            </div>
            <div class="col-sm-4">
                {{ form_(form.slug) }}
            </div>
        </div>
        {{ form_end(form) }}
    {% endblock %}
{% endblock %}
